<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catamount Chat - Reset Password</title>
</head>

<body>
    <center>
        <h1>Reset Password</h1>
        <input type="text" id="input_username" placeholder="username">
        <br>
        <input type="password" id="input_old_password" placeholder="old password">
        <br>
        <input type="password" id="input_new_password" placeholder="new password">
        <br>
        <button id="button_change_password">Change Password</button>
        <br>
        <p hidden="hidden" id="p_msg"></p>
    </center>
</body>

<style>
    input {
        margin: 10px;
    }

    #p_msg {
        color: red;
        font-size: large;
    }
</style>

<script>
    const usernameInput = document.getElementById('input_username')
    const oldPasswordInput = document.getElementById('input_old_password')
    const newPasswordInput = document.getElementById('input_new_password')
    const changePasswordButton = document.getElementById('button_change_password')
    const msgP = document.getElementById('p_msg')
    usernameInput.value = localStorage.getItem('username')

    changePasswordButton.addEventListener('click', async e => {
        const response = await fetch(
            '/api/reset-password',
            {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: usernameInput.value,
                    old_pass: oldPasswordInput.value,
                    new_pass: newPasswordInput.value,
                })
            }
        )

        if (!response.ok) {
            msgP.innerHTML = await response.text()
            msgP.hidden = false
            return
        }

        msgP.style.color = 'green'
        msgP.innerHTML = 'Successfully changed password!'

        setTimeout(function () {
            location.href = '/login'
        }, 1000)


    })
</script>

</html>